/* Custom CSS for card movement animation */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-cards-wrapper {
  display: flex;
  gap: 30px;
  animation: slide 15s linear infinite;
}

.moving-cards-wrapper:hover {
  animation-play-state: paused;
}
