@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: typing 2s steps(40, end);
  }
  